# Apache for "Don't look at me."
Options -Indexes
# Do not change this line.
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?localhost$
RewriteRule ^(/)?$ http://localhost/open_re/trunk/public/login [L]