#sidebar {  background-color: #65ac1e;}
.logo_space {
    border-bottom: solid 1px #00793a;
    border-right: solid 1px #00793a;
}
.sid_button li { border-bottom: solid 1px rgba(0, 120, 58, 0.2);}
.sid_button li:hover, .sid_button li.active{ background-color: #00793a; }
.sid_button li a:hover{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.sid_button li a .ecp_icon { background: url(../images/menu_icon.png) no-repeat 0 0px;}
.sid_button li:hover .ecp_icon, .sid_button li.active a .ecp_icon { background: url(../images/white_menu_icon.png) no-repeat 0 0px; }
.sid_button li a .i_shop_icon { background: url(../images/menu_icon.png) no-repeat 0px -50px; }
.sid_button li:hover .i_shop_icon, .sid_button li.active a .i_shop_icon { background: url(../images/white_menu_icon.png) no-repeat 0px -50px; }
.sid_button li a .esp_icon { background: url(../images/menu_icon.png) no-repeat 0px -103px; }
.sid_button li:hover .esp_icon, .sid_button li.active a .esp_icon { background: url(../images/white_menu_icon.png) no-repeat 0px -103px; }
.sid_button li a .reports_icon { background: url(../images/menu_icon.png) no-repeat 0px -153px; }
.sid_button li:hover .reports_icon, .sid_button li.active a .reports_icon { background: url(../images/white_menu_icon.png) no-repeat 0px -153px; }
.sid_button li a .e_assassments_icon { background: url(../images/menu_icon.png) no-repeat 0px -203px;}
.sid_button li:hover .e_assassments_icon, .sid_button li.active a .e_assassments_icon { background: url(../images/white_menu_icon.png) no-repeat 0px -203px;}
.sid_button li a .e_learning_icon { background: url(../images/menu_icon.png) no-repeat 0px -257px; }
.sid_button li:hover .e_learning_icon, .sid_button li.active a .e_learning_icon { background: url(../images/white_menu_icon.png) no-repeat 0px -257px; }

.header { background-color: #65ac1e;}
.top_setting { background-color: #00793a;}
.top_nv li { border-left: solid 1px #65ac1e;}
.top_nv li.nav_space { background-color: #33932c;}
ul.listslider li{ border-left: solid 1px #65ac1e; }
.side_menu_space { background-color: #65ac1e; }
.inner_contain { background-color: #65ac1e; }
/*scrollbar*/
.mCSB_scrollTools .mCSB_draggerRail{
    background-color: #cccccc; background-color: rgba(204,204,204,1);
    filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #00793a; background-color: rgba(0,121,58,1);
    filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background-color: #00793a; background-color: rgba(0,121,58,1);
    filter: "alpha(opacity=85)"; -ms-filter: "alpha(opacity=85)";
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #00793a; background-color: rgba(0,121,58,1);
    filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)";
}
.listslider-arrow.listslider-right{ background-color: #33932c;}
.listslider-arrow.listslider-left{ background-color: #33932c;}
.footer { background-color: #00793a;}
.pr_footer { background-color: #00793a;}
/*@media (max-width: 991px) {
    .left_contain { background-color: #65ac1e;}
}*/
.middle_form { background-color: #65ac1e;}
.plus_btn a { color: #00793a;}
.big_breadcrumb { background-color: #00793a;}
#no-more-tables tr td .edit_i a {color: #00793a;}
.upload_file_space .input-group-btn .btn-primary { background-color: #65ac1e;}
.save_btn button { background-color: #00793a;}
.save_btn button:hover, .save_btn button:focus { background-color: #65ac1e !important;}
.freeze_data { background-color: #00793a;}
.freeze_data:hover, .freeze_data:focus { background-color: #65ac1e !important;}
/*end scrollbar*/
/*Budget Distributor*/
.copy_btn a { background-color: #65ac1e;}
.copy_btn a:hover { background-color: #4c8e0a;}
.inn_sub_nave ul li:hover:after, .inn_sub_nave ul li.active:after { background-color: #00793a;}
.radio label::after { background-color: #65ac1e;}
/*css Budget Distributor*/
.cal_icon a { color: #00793a;}
.plus_btn_2 a { color: #00793a; }
.filter_btn a{ color: #00793a;}
/**/
.gren_btn {background-color: #00612f;}
.gren_btn:hover, .gren_btn:focus {background-color: #65ac1e !important;}
.svn_btn button:hover, .svn_btn button:focus { background-color: #015e2e !important; }
.tr_modal .modal-content .modal-header .modal-title { color: #00793a;}
.radio_bb input[type=radio]:not(old):checked +  label > span > span{
    border           : 0.0625em solid rgb(0,121,58);
    background       : rgb(101,172,30);
    background-image :    -moz-linear-gradient(rgb(101,172,30),rgb(101,172,30));
    background-image :     -ms-linear-gradient(rgb(101,172,30),rgb(101,172,30));
    background-image :      -o-linear-gradient(rgb(101,172,30),rgb(101,172,30));
    background-image : -webkit-linear-gradient(rgb(101,172,30),rgb(101,172,30));
    background-image :         linear-gradient(rgb(101,172,30),rgb(101,172,30));
}
.radio_bb input[type=radio]:not(old):checked +  label > span > span{ background       : rgb(101,172,30); }
.radio_bb input[type=checkbox]:not(old):checked + label > span:before{ color       : rgb(101,172,30); }
.save_default_bb {
    background-color: #65ac1e;
    border: solid 1px #00793a;
    color: #fff;
}
.save_default_bb:hover, .save_default_bb:focus {
    background-color: #00793a;
    border: solid 1px #00793a;
    color: #fff;
}
.extra_btn a { background-color: #00793a;}
.extra_btn a:hover, .extra_btn a:focus { background-color: #65ac1e;}
/*login css*/
.login_bg_color {
    background: #00793a;
    background: -webkit-linear-gradient(top, #00793a, #33932c);
    background: -o-linear-gradient(bottom, #00793a, #33932c);
    background: -moz-linear-gradient(bottom, #00793a, #33932c);
    background: linear-gradient(to bottom, #00793a, #33932c);
    opacity: 0.8;
}
.login_header {
    background: #00793a;
    background: -webkit-linear-gradient(top, rgba(0, 121, 58, 0.9), rgba(51, 147, 44, 0.8));
    background: -o-linear-gradient(bottom, rgba(0, 121, 58, 0.9), rgba(51, 147, 44, 0.8));
    background: -moz-linear-gradient(bottom, rgba(0, 121, 58, 0.9), rgba(51, 147, 44, 0.8));
    background: linear-gradient(to bottom, rgba(0, 121, 58, 0.9), rgba(51, 147, 44, 0.8));
    border-bottom: solid 1px #439b50;
}
.login_btn { background-color: #278e57;}
.login_btn:hover, .login_btn:focus { background-color: #65ac1e;}
/*end login css*/
#error_file_popup .ui-dialog .ui-dialog-titlebar-close {  background-color: #00793a;}
#error_file_popup .ui-dialog .ui-dialog-buttonpane button { background-color: #00793a;}
#error_file_popup .ui-dialog .ui-dialog-buttonpane button:hover { background-color: #65ac1e; }
#success_file_popup .ui-dialog .ui-dialog-titlebar-close {  background-color: #00793a;}
#success_file_popup .ui-dialog .ui-dialog-buttonpane button { background-color: #00793a;}
#success_file_popup .ui-dialog .ui-dialog-buttonpane button:hover { background-color: #65ac1e; }
a.set_pono, .eye_i a { border-bottom: solid 1px #65ac1e !important;}

/*final login css*/
.login-submit {background-color: #83a771; }
.login-button:before {
    background: #7ab203;
    border-radius: 24px;
    background-image: -webkit-linear-gradient(top, #7ab203, #3a6208);
    background-image: -moz-linear-gradient(top, #7ab203, #3a6208);
    background-image: -o-linear-gradient(top, #7ab203, #3a6208);
    background-image: linear-gradient(to bottom, #7ab203, #3a6208);
}
.login-button:active:before {
    background: #3a6208;
    background-image: -webkit-linear-gradient(top, #3a6208, #7ab203);
    background-image: -moz-linear-gradient(top, #3a6208, #7ab203);
    background-image: -o-linear-gradient(top, #3a6208, #7ab203);
    background-image: linear-gradient(to bottom, #3a6208, #7ab203);
}
@media screen and (max-width: 767px){ .login-submit {background-color: transparent;} }
.corp_text .plus_btn a { color: #519548;}
/*final login css*/


/****start cco style****/
.cco_header {background-color: #65ac1e;}
.time_space {background-color: #038614;}
.right_slide {background-color: #65ac1e;}
.right_slide ul li.active, .right_slide ul li:hover, .right_slide ul li:focus {background-color: #589d14;}
.footer_menu {background-color: #65ac1e;}
.in-up-details-list li i.employee_name_ii { background: url(../images/left-slide-icon.svg) no-repeat 0 0;}
.in-up-details-list li i.designation_ii { background: url(../images/left-slide-icon.svg) no-repeat 0 -36px;}
.in-up-details-list li i.gender_ii { background: url(../images/left-slide-icon.svg) no-repeat 0 -75px;}
.in-up-details-list li i.primary_mobile_no_ii { background: url(../images/left-slide-icon.svg) no-repeat 0 -108px;}
.in-up-details-list li i.fixed_line_no_ii { background: url(../images/left-slide-icon.svg) no-repeat 0 -149px;}
.in-up-details-list li i.country_ii { background: url(../images/left-slide-icon.svg) no-repeat 0 -184px;}
.in-up-details-list li i.email_ii { background: url(../images/left-slide-icon.svg) no-repeat 0 -215px;}
.in-up-details-list li i.user_ii { background: url(../images/left-slide-icon.svg) no-repeat 0 -258px;}
.open_sld {background-color: #038614;}
.back_details-button {background-color: #00793a;}
.back_details-button:hover, .back_details-button:focus{background-color: #65ac1e;}
.footer_info ul li.active a, .footer_info ul li a:hover { background-color: #65ac1e; }
/****end start cco style****/
/****chate css****/
.chat-header {background: #00793a url(../images/chat-icon.png) no-repeat 90% 8px;}
/****end chate css****/
/****dialapd v employee css****/
.campaign-details-btn {background-color: #00793a;}
.campaign-details-btn:hover, .campaign-details-btn:focus {background-color: #65ac1e;}
.green-box {background-color: #00793a;}
/****end dialapd v employee css****/

/****new dialapd css****/
ul.phase-list li a:hover, ul.phase-list li a:focus, ul.phase-list li.active a{background-color: #038614;}
.script-btn {background-color: #038614;}
.script-btn:hover, .script-btn:focus {background-color: #65ac1e;}
/****end new dialapd css****/

/****Dashboard css****/
.frcs-btn li a .dark-gn-sq {color: #00793a;}
.frcs-btn li a .light-gn-sq {color: #65ac1e;}
.cal-controll {background-color: #65ac1e;}
.ttl-sales {background-color: #65ac1e;}
.in-activities-box a {background-color: #65ac1e;}
.in-activities-box a:hover, .in-activities-box a:focus {background-color: #00793a;}
/****end Dashboard css****/
/* start Call Campaign Popup css */
.campaign-popup .modal-content{ background-color: #65ac1e !important;}
.company-name{background-color: #00793a;}
.c-name{background-color: #65ac1e;}
.company-details{border: 1px solid #528c18;}
.p-comany h2{color: #65ac1e;}
.mont-date h6{color: #22834d;}
.call-no h6{ color: #22834d; }
.table-recorde{border: 1px solid #528c18;}
.table-recorde .thead-default{background-color: #65ac1e;}
.table-recorde tbody tr h2{color: #65ac1e;}
.btn-start-calling{background-color: #65ac1e;}
.company-details .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #65ac1e;}
/* end Call Campaign Popup css */