body {
    margin:0 auto;
    padding:0;
    background-color: #e7ebee;
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
@font-face {
    font-family:'Exo2-Regular';
    src: url('../fonts/Exo2-Regular_gdi.eot');
    src: url('../fonts/Exo2-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-Regular_gdi.woff') format('woff'),
    url('../fonts/Exo2-Regular_gdi.ttf') format('truetype'),
    url('../fonts/Exo2-Regular_gdi.svg#Exo2-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
    font-family:'Exo2-Medium';
    src: url('../fonts/Exo2-Medium_gdi.eot');
    src: url('../fonts/Exo2-Medium_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-Medium_gdi.woff') format('woff'),
    url('../fonts/Exo2-Medium_gdi.ttf') format('truetype'),
    url('../fonts/Exo2-Medium_gdi.svg#Exo2-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
    font-family:'Exo2-SemiBold';
    src: url('../fonts/Exo2-SemiBold_gdi.eot');
    src: url('../fonts/Exo2-SemiBold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-SemiBold_gdi.woff') format('woff'),
    url('../fonts/Exo2-SemiBold_gdi.ttf') format('truetype'),
    url('../fonts/Exo2-SemiBold_gdi.svg#Exo2-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
    font-family:'fonts/Rajdhani-Medium';
    src: url('../fonts/Rajdhani-Medium_gdi.eot');
    src: url('../fonts/Rajdhani-Medium_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rajdhani-Medium_gdi.woff') format('woff'),
    url('../fonts/Rajdhani-Medium_gdi.ttf') format('truetype'),
    url('../fonts/Rajdhani-Medium_gdi.svg#Rajdhani-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}
.col-md-2_2 {
    width: 13.66666667% !important;
}
.col-md-10_10 {
    width: 86.33333333% !important;
}

/*@media screen and (max-width:991px) {
    .col-md-2_2 {
        width: 100% !important;
    }
    .col-md-10_10 {
        width: 100% !important;
    }
}*/
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    padding: 0px 0 0px 0;
}
#sidebar-wrapper {
    /*height: 100%;*/
    padding: 0px 0 0px 0;
    position: relative;

}
.main_header {
    position: fixed;
    z-index:999;
    top: 0;
    width: 100%;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow:hidden;

}
@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
/*@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}*/
/*@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        /!*height:auto;
        max-height: 300px;*!/
        border-right:0;
    }
}*/

/*@media (max-width: 991px) {
    #sidebar-wrapper { height:auto;}
    #sidebar {
        height:auto;
        background-color:#f5f5f5;
    }
}*/
.logo_space {
    text-align:center;
    padding:55px 0;
    height: 150px;
    position: relative;
}
.responsive_logo { display: none;}
.responsive_logo img { display: inline-block;}
@media (max-width: 767px) {
    .responsive_logo {
        display: none;
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 18%;
    }
    .logo_space {
        padding:10px 0;
        height: auto;
    }
    .col-md-2_2 {
        width: 100% !important;
    }
    .col-md-10_10 {
        width: 100% !important;
    }
}
/*@media (max-width: 600px) {.responsive_logo { bottom: 23%;}}
@media (max-width: 480px) {.responsive_logo { bottom: 30%;}}
@media (max-width: 360px) {.responsive_logo { bottom: 38%;}}
@media (max-width: 991px) {
    .logo_space { padding:55px 10px;}
}*/
.logo_space img { display: inline-block; }
@media (max-width: 960px) {
    .logo_space img { padding: 5px; }
}
ul.sid_button {
    padding: 0;
    margin: 0px;
}
.sid_button li {
    background-color: transparent;
    padding-left: 15px;
    list-style: none;
    padding: 5px 2px 5px 15px;
    position: relative;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.sid_button li:hover:before, .sid_button li.active:before {
    position: absolute;
    width: 5px;
    background-color: #fff;
    content: "";
    display: block;
    height: 100%;
    left: 0px;
    top: 0;
}
.sid_button li a{
    font-family:'Exo2-Regular';
    font-size:15px;
    color:#fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    width:100%;
    line-height:32px;
    display:block;
    text-decoration:none;
    text-transform:uppercase;
}
.sid_button li a span {
    height: 27px;
    width: 25px;
    float: left;
    margin: 5px 15px 0 0px;
}
@media screen and (max-width:1280px){
    .sid_button li a{ font-size: 13px;}
}
@media screen and (max-width:1150px){
    .sid_button li a{ font-size: 12px;}
    .sid_button li a span { margin: 5px 4px 0 0px;}
}
/*@media screen and (max-width: 1300px) and (min-width: 1170px) {
    .sid_button li { padding-left: 10px;}
    .sid_button li a span { margin: 10px 10px 0 0px;}
}
@media screen and (max-width: 1169px) and (min-width: 992px) {
    .sid_button li a span { margin: 10px 3px 0 0px;}
    .sid_button li a { font-size: 11px;}
}
@media (max-width: 991px){
    .logo_space {
        float: left;
        padding: 12px 15px;
        width: 20%;
        height: auto;
    }
    /!*.side_menu_space {
        float: left;
        width: 80%;
        text-align: center;
    }
    .sid_button li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    ul.sid_button {
        margin-top: 7px;
    }
    .sid_button li a span {
        margin: 10px 5px 0 0px;
    }
    .sid_button li a { font-size: 14px;}*!/
}
/!*@media screen and (max-width: 840px) and (min-width: 768px) {
    .sid_button li a { font-size: 12px;}
}
@media screen and (max-width: 767px) {
    .sid_button li a span { display: none;}
    .sid_button li a { line-height: 12px;}
    .sid_button li { padding: 10px;}
    ul.sid_button { margin-top: 14px;}
}*!/
@media screen and (max-width: 680px) {
    .sid_button li { padding: 5px;}
    .sid_button li a { font-size: 12px;}
}
@media screen and (max-width: 550px) {
    .logo_space {
        float: none;
        width: 100%;
        display: block;
        border-right: none !important;
    }
    ul.sid_button {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .side_menu_space {
        width: 100%;
        text-align: left;
        padding: 0 10px;
    }
}
@media screen and (max-width: 360px) {
    .sid_button li a { font-size: 10px;}
}*/
.header {
    position: absolute;
    top: 0;
    z-index: 100;
}
@media screen and (max-width: 991px){
    .header {
        position: relative;
    }
}
.top_setting {
    text-align: right;
    height: 50px;
    vertical-align: middle;
}
.slide_icon {
    float: left;
    padding: 8px 15px;
}
@media screen and (max-width: 1024px){
    .slide_icon {display: none;}
}
@media screen and (max-width: 380px){
    .slide_icon { padding: 8px 10px;}
}
.right_nave {
    float: right;
}
ul.top_nv {
    margin: 0;
    padding: 0;
}
.top_nv li {
    display: inline-block;
    list-style: none;
}
.top_nv li a img {
    /*line-height: 50px;
    padding: 0 15px;*/
    padding: 12px 15px;
}
@media screen and (max-width: 380px){
    .top_nv li a img { padding: 12px 10px;}
}
.user_deta {
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    margin-right: 20px;
}
.user_img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: #fff;
    border: solid 2px #fff;
    overflow: hidden;
    display: inline-block;
    float: left;
}
.user_img img { max-width: 36px;}
.user_name {
    display: inline-block;
    float: left;
    color: #fff;
    padding: 7px;
    font-family:'Exo2-Regular';
    font-size: 16px;
}
.big_breadcrumb {
    /*box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);*/
    display: block;
}
.nav-parent-div {
    padding: 0 20px;;
}
.listslider-container{
    overflow: hidden;
}
.listslider-arrow{
    position: absolute;
    cursor:pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear, visibility 0.5s linear, left 0.1s linear, right 0.1s linear, text-shadow 0.1s linear;
    top: 0;
    line-height: 3;
    font-size: 14px;
    min-width: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listslider-arrow.active{
    opacity: 1;
    visibility: visible;
}

.bre_lf_arrow {
    background: url(../images/text_sl_sprite.png) no-repeat 10px -26px;
    position: relative;
    top: 1px;
    display: inline-block;
    height: 18px;
    width: 18px;
}
.bre_rt_arrow {
    background: url(../images/text_sl_sprite.png) no-repeat 0 4px;
    position: relative;
    top: 1px;
    display: inline-block;
    height: 18px;
    width: 18px;
}
#big_slider_cont .bre_lf_arrow {
    background: url(../images/text_sl_sprite.png) no-repeat 0 0px;
    position: relative;
    top: 1px;
    display: inline-block;
    height: 18px;
    width: 18px;
}
#big_slider_cont .bre_rt_arrow {
    background: url(../images/text_sl_sprite.png) no-repeat 0 -55px;
    position: relative;
    top: 1px;
    display: inline-block;
    height: 18px;
    width: 18px;
}

.listslider-arrow.listslider-right{
    right: -15px;
    text-align: right;
}
.listslider-arrow.listslider-right.active:hover{
    right: -15px;
    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
}
.listslider-arrow.listslider-left.active:hover{
    left: -15px;
    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
}
.listslider-arrow.listslider-left{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    left: -15px;
}
.listslider-wrapper{

}
.listslider{

}
ul.listslider{
    /*white-space: nowrap;*/
    clear: both;
    padding-left: 0;
}
ul.listslider li{
    list-style: none;
    display: inline-block;
    float: left;
    padding: 0px;
    width: auto;
    text-align: center;
    padding: 0px 20px;
    position: relative;
}
ul.listslider li:first-child{
    border-left: none;
}
.big_breadcrumb .nav-tabs {
    border-bottom: none;
    height: auto;
}
.big_breadcrumb .nav-tabs>li>a {
    font-family:'Exo2-SemiBold';
    font-size: 14px;
    background-color: transparent;
    border: none;
    line-height: 23px;
    display: block;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.big_breadcrumb .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: none;
    /*line-height: 18px;*/
    color: #fff;
}
ul.listslider li:hover:after, ul.listslider li.active:after{
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    height: 4px;
    width: 20%;
    display: inline-block;
    left: 38%;
    line-height: 22px;
}
@media screen and (max-width:991px) {
    ul.listslider li{ width: auto;}
}


/*inner contain css*/
.inner_contain {
    position: fixed;
    margin-top: 150px;
    bottom: 0;
    top: 0;
    width: 100%;
}
@media screen and (max-width:767px) {
    .inner_contain {
        margin-top: 220px;
    }
}
/*.side_menu_space {
    width: 55px !important;
}
.pr_slide_menu {
    width: 185px;
}*/
.right_contain {
    /*float: left;*/
    width: 100%;
    height: 100%;
}
.inn_right_contain {
    /*margin-left: 55px !important;*/
    height: 100%;
}
.pr_right_contain {
    /*margin-left: 185px;*/
    height: 100%;
}
.left_contain {
    float: left;
    position: relative;
    width: auto !important;
}
.left_contain_big {
    width: 13.66%;
    float: left;
    position: relative;
}
.li_title { display: none;}
@media screen and (max-width:1150px){
    .left_contain { width: 53px !important;}
}
@media screen and (max-width:1024px){
    .pr_title { display: none;}
    .left_contain_big { width: auto;}
}
.footer {
    position: relative;
    /*bottom: 0;
    left: 55px !important;
    width: 100%;*/
    padding: 5px;
}
.pr_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 185px;
    padding: 5px 185px 5px 0;
}
@media screen and (max-width:991px){
    .pr_footer { padding: 5px 5px 5px 5px; left: 15px !important;}

}
.footer p, .pr_footer p {
    font-family:'fonts/Rajdhani-Medium';
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #fff;
    padding-top: 5px;
}
.footer p img, .pr_footer p img {
    margin-top: -8px;
}
#main {
    position: relative;
    height: 100%;
    /* overflow-y: auto; */
    background-color: #f3f3f3;
    /*padding-bottom: 37px;*/
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.4);
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}
.full-height {
    min-height: 95.6%;
}
.content{
    overflow: auto;
    position: relative;
    height: 100%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
@media (max-width: 991px) {
    .left_contain {
        /* float: left; */
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9999;
        height: 100%;
        box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.3);
    }
    .pr_right_contain {
        margin-left: 55px;
    }
    .pr_footer {
        left: 55px;
    }
}

.top_form {
    background-color: #fff;
    border: solid 1px #bbbdc0;
    margin: 10px 0;
    padding: 20px 100px 5px 100px;
    position: relative;
}
.tp_form .form-group label {
    font-family:'Exo2-Medium';
    font-size: 14px;
    color: #4d4e4e;
}
.tp_form .form-group input {
    font-family:'Exo2-Regular';
    font-size: 15px;
    color: #767676;
    border-radius: 0;
    border-color: #c9c9c9;
    background-color: #fff;
    outline: none;
    box-shadow: none;
    height: 28px;
    padding: 0px 12px;
}
.tp_form .form-group .btn-group>.btn {
    font-family:'Exo2-Regular';
    font-size: 14px;
    color: #767676;
    border-radius: 0;
    border-color: #c9c9c9;
    background-color: #fff;
    outline: none;
    height: 28px;
    box-shadow: none;
    padding: 0px 30px 0 12px;
}
.tp_form .form-group .btn-group {
    font-family:'Exo2-Regular';
}
.tp_form .form-group .btn-group .caret {
    border: none;
    background: url(../images/select_arrow.png) no-repeat 0 0;
    height: 7px;
    width: 13px;
}
.tp_form .form-group .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}
/*100% select*/
.fulle_wd .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100% !important;
}
/*100% select*/
@media screen and (max-width:650px){
    .top_form {padding: 20px 20px 5px 20px;}
    .tp_form .form-group .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }
}
.middle_form {
    padding: 30px 15px;
    text-align: center;
}
.middle_form .row { display: inline-block;}
.middle_form .form-group {
    margin-bottom: 0;
    text-align: left;
}
.middle_form .tp_form .form-group label {
    color: #fff;
    font-family:'Exo2-SemiBold';
    font-size: 13px;
    vertical-align: middle;
    font-weight: normal;
}
.col-md-4_, .col-md-3_, .col-md-2_ {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}


    /*.col-md-4_ { width: 27.3%;}
    .col-md-3_ { width: 25.4%;}
    .col-md-2_ { width: 21.3%;}*/

    /*.plus_btn {
        float: right !important;
        margin-top: 8px;
        margin-right: 30px;
    }
    .col-md-4_, .col-md-3_ {
        margin-bottom: 15px;
    }*/
@media screen and (max-width: 1363px) {
    .middle_form .tp_form .form-group .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width: 100%;}
    .middle_form .tp_form .form-group input { width: 100%;}
    .plus_btn { margin-top: 26px !important;}
}
@media screen and (max-width: 1199px) { .col-md-4_ { width: 26.3%;}}
@media screen and (max-width: 991px) { .col-md-4_ { width: 25.3%;}}
@media screen and (max-width: 767px) {
    .col-md-4_ {
        width: 45.3%;
        margin-bottom: 20px;
    }
    .col-md-3_ {
        width: 45.3%;
        margin-bottom: 20px;
    }
    .col-md-2_ {
        width: 45.3%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 575px) {
    .col-md-4_ {
        width: 100%;
        margin-bottom: 20px;
    }
    .col-md-3_ {
        width: 100%;
        margin-bottom: 20px;
    }
    .col-md-2_ {
        width: 100%;
        margin-bottom: 20px;
    }
    .plus_btn {
        border-radius: 0 !important;
        margin-left: 15px;
        margin-top: 0px !important;
    }
}
.wieght_sp {
    position: relative;
    bottom: 0px;
    right: 0px !important;
    font-family: 'Exo2-Regular';
    font-size: 12px;
    color: #fff;
    float: right;
}
.toggle_wieght_sp {
    position: relative;
    bottom: 0px;
    right: 0px;
    font-family: 'Exo2-Regular';
    font-size: 12px;
    color: #fff;
    float: right;
}
.plus_btn {
    float: left;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
    text-align: center;
    margin-top: 2px;
}

.middle_form .form-control {
    display: inline-block;
    width: 130px;
}
.middle_form .form-group .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 178px;
}
@media screen and (max-width: 1363px) {
    .toggle_wieght_sp { right: 0 !important;}
    .wieght_sp { right: 0 !important;}
}
/*reports table css*/
#no-more-tables {
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    overflow-x: scroll;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
}
.zoom_space {
    position: absolute;
    right: 0;
    top: -30px;
    background-color: #fbfdff;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-top-left-radius: 10px;
    z-index: 0;
}
.zoom_space ul {
    margin: 0;
    padding: 0;
}
.zoom_space ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
#no-more-tables table {
    border: none;
    width: 100%;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
#no-more-tables table thead {
    background-color: #fbfdff;
    border-bottom: solid 2px #d5d5d5;
    z-index: 10;
}
#no-more-tables tr th {
    text-align: center;
    border: none;
    position: relative;
    /*padding: 15px 0px;
    width: 150px;*/
    padding: 10px 0px;
    width: auto;
    min-width: 90px;
    font-family: 'Exo2-SemiBold';
    font-size: 14px;
    color: #4d4e4e;
}
#no-more-tables tr th .wl_sp {
    font-family: 'Exo2-Regular' !important;
    font-size: 12px;
    color: #737474;
    display: block;
}
#no-more-tables tr th a {
    color: #000;
    font-family:'Exo2-SemiBold';
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
#no-more-tables tr td {
    padding: 5px 10px;
    border: solid 1px #dcdeeb !important;
    /*border-bottom: solid 1px #dcdeeb !important;
    border-top: solid 1px #dcdeeb !important;
    border-left: solid 1px #dcdeeb !important;*/

}
#no-more-tables>.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #ffffff;
}
#no-more-tables .cf_shadow {
    border-top: solid 2px rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
#no-more-tables tr th .rts_bordet {
    position: absolute;
    background-color: #cccccc;
    width: 2px;
    height: 12px;
    top: 41%;
    right: 0px;
}
#no-more-tables tr td, #no-more-tables tr td a {
    font-family: 'Exo2-Medium';
    font-size: 14px;
    color: #4d4e4e;
    border: none;
    text-align: center;
}
@media screen and (max-width:414px){
    #no-more-tables tr td, #no-more-tables tr td a { font-size: 12px;}
}
#no-more-tables tr td .delete_i, #no-more-tables tr td .edit_i { display: inline-block;}
#no-more-tables tr td .delete_i a {color: #c50022; margin-left: 10px;}
.wl_sp {
    display: block;
}
#no-more-tables .form-group {
    margin-bottom: 0px;
    display: inline-block;
}
@media only screen and (max-width: 736px) {
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }
    #no-more-tables>.table-striped>tbody>tr:nth-of-type(odd){
        background-color: #f9f9f9;
    }
    #no-more-tables .cf_shadow {
        border-top: none;
        border-bottom: none;
    }
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }
    #no-more-tables td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
    }
    #no-more-tables td:before {
        position: absolute;
        top: 8px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    #no-more-tables td:before { content: attr(data-title); }
}
.table_bottom {
    margin: 20px 0;
}
.save_btn button {
    font-family: 'Exo2-Medium';
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 7px 30px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.upload_text {
    line-height: 34px;
    text-align: right;
    font-family: Exo2-Regular;
    font-size: 14px;
    color: #4d4e4e;
}
@media screen and (max-width: 991px){
    .upload_text { text-align: center;}
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
	border: 0px;
}
.upload_file_space .input-group {
    display: block;
}
.upload_file_space .input-group-btn {
    position: absolute;
    font-size: 0;
    white-space: nowrap;
    right: 0;
    z-index: 100;
    width: inherit;
    padding: 4px;
}
.upload_file_space .input-group-btn .btn-primary {
    padding: 3px 5px;
    border-radius: 1px;
    border: none;
    font-family: 'Exo2-Medium';
    color: #fff;
    font-size: 14px;
}
.upload_file_space .form-control { border-radius: 0;}
.chech_data button {
    margin-left: 20px;
    border-radius: 0;
    border-color: #bcbfc2;
    color: #4d4e4e;
    font-family: 'Exo2-Medium';
    font-size: 14px;
}
.chech_data button:first-child {
    margin-left: 0px;
}
@media screen and (max-width:991px) {
    .save_btn {
        margin-bottom: 15px;
        text-align: center;
    }
    .upload_file_space {
        margin-bottom: 15px;
    }
    .chech_data { text-align: center;}
    .chech_data button {
        margin-bottom: 10px;
        margin-left: 0;
    }
}
/*end inner contain css*/

/*Budget Distributor*/
.copy_btn {
    position: absolute;
    top: -10px;
    right: 30px;
}
.copy_btn a {
    color: #fff;
    font-family: 'Exo2-SemiBold';
    font-size: 14px;
    text-decoration: none;
    padding: 5px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.sub_nave {
    margin-top: -34px;
    margin-bottom: 10px;
}
.inn_sub_nave {
    background-color: #fff;
    padding: 0px 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.inn_sub_nave ul {
    margin: 0;
    padding: 0;
}
.inn_sub_nave ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    padding: 10px 0;
}
.inn_sub_nave ul li a {
    font-family: 'Exo2-SemiBold';
    font-size: 14px;
    color: #4d4e4e;
    text-decoration: none;
}

@media screen and (max-width: 440px){
    .sub_nave {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .inn_sub_nave {
        padding: 0px;
        width: 100%;
    }
    .inn_sub_nave ul li {
        margin: 0 5px;
    }
    .inn_sub_nave ul li a {
        font-size: 12px;
    }
}
.inn_sub_nave ul li a:hover { color: #818181;}
.inn_sub_nave ul li:hover:after, .inn_sub_nave ul li.active:after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 4px;
    width: 100%;
    display: inline-block;
    left: 0%;
    line-height: 22px;
}
.radio_space {
    margin-bottom: 20px;
}
.radio_space .radio {
    padding-left: 20px;
    display: inline-block;
    margin-left: 15px;
}
.radio_space .radio:first-child { margin-left: 0px;}
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    font-family: 'Exo2-SemiBold';
    font-size: 14px;
    color: #4d4e4e;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 14px;
    height: 14px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.distributore_form .tp_form .form-group .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
/*css Budget Distributor*/
/*inline form group css*/
.inline-parent .form-group { display: inline-block; width: auto; margin-left: 30px;}
.inline-parent .form-group:first-child { margin-left: 0;}
.inline-parent .form-control { width: auto; display: inline-block;}
@media screen and (max-width:991px){
    .inline-parent .form-group {
        width: 100%;
        margin-left: 0;
    }
    .inline-parent .form-control { width: 100%;}
}
/*inline form group css*/

/*E-invoice css*/
.dowload_sp {
    margin: 30px 0;
}
/*end E-invoice css*/

/*Ishop-Order-Status-Distributor css*/
.cal_icon {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.cal_icon a {
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px 5px;
}
.plus_btn_2 {
    padding: 0px;
    margin-top: 1px;
    font-size: 20px;
    line-height: 27px;
}

@media screen and (max-width: 1363px){
    .cal_icon {
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
    }
}
/*end Ishop-Order-Status-Distributor css*/
/*oredr approval css*/
.od_approval {
    margin-top: 0px;
    margin-bottom: 0px;
}
.od_approval .form-group label {
    display: inline-block;
}
.od_approval .tp_form .form-group input {
    width: auto;
    display: inline-block;
}
.od_approval .fl_calender_i .tp_form .form-group input {
    width: 91%;
}
.fl_calender_i .cal_icon { right: 0 !important;}
.text-center_form {
    text-align: center;
}
@media screen and (max-width: 767px){
    .fl_calender_i .cal_icon { bottom: 1px !important;}
}
@media screen and (max-width: 1199px){
    /*.text-center_form { text-align: left;}*/
    .od_approval .form-group label { display: block}
}
.pending_counts {
    position: absolute;
    top: 4px;
    right: -16px;
    background-color: #ff0000;
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    color: #fff;
    font-family: 'Exo2-Regular';
    font-size: 12px;
}
.no_box {
    margin-bottom: 30px;
}
.filter_btn {
    position: absolute;
    right: -20px;
    bottom: 16px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    padding: 0px;
    margin-top: 1px;
    font-size: 20px;
    line-height: 24px;
    border: solid 1px #ccc;
}

@media screen and (max-width: 767px){
    .filter_btn {
        left: 48%;
        bottom: -35px;
    }
}
/*end oredr approval css*/
.gren_btn {
    height: 28px;
    padding: 0px 30px !important;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    width: 100%;
}
.svn_btn {
    float: left;
}
.svn_btn button {
    border: none;
    height: 28px;
    border-radius: 0;
    margin-left: 15px;
}
@media screen and (max-width: 1365px){
    .svn_btn {
        float: left;
        display: block;
        width: 100%;
        margin-left: 15px;
        margin-top: 15px;
    }
    .svn_btn button {
        display: block;
        width: auto;
        margin-left: 0px;
    }
}

.inl_button  {
    display: inline-block;
    margin-left: 15px;
}
.inl_button button { margin-bottom: 5px;}
.datepicker { z-index: 1000 !important;}

nav {
    background: #ffffff;
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    right: -20em;
    font-size: 15px;
    top: 0;
    width: 15em;
    z-index: 2000;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out 0s;
    -webkit-transition: right 0.3s ease-in-out 0s;
    -moz-transition: right 0.3s ease-in-out 0s;
    -o-transition: right 0.3s ease-in-out 0s;
}
.nav-expanded nav {
    right: 0;
}